## 📄 Make My Work Easy

This script is designed to **extract information about table names and column names** that contain a specific value.

### 🧠 Purpose
When working with a database that has a **large number of tables**, it can be difficult to locate where a specific value is stored. This script helps you:

- ✅ Identify **which table** contains the value.
- ✅ Pinpoint **which column** inside the table has the value.

### 🔍 Use Case
Imagine you have hundreds of tables in your database and you're trying to find where a customer ID, phone number, or any specific value is stored — this tool will save you hours of manual checking.

In [8]:

from sqlalchemy import create_engine
import pandas as pd
import os

In [ ]:
# correct format: mysql+pymysql://user:pass@host:port/db

username = "root"
password = "0101"
host = "localhost"
port = 3306  
database_name = "manufacturing"  

engine = create_engine(f"mysql+pymysql://{username}:{password}@{host}:{port}/{database_name}")

In [21]:

query = """
    SELECT
        TABLE_NAME, COLUMN_NAME, DATA_TYPE
    FROM
        INFORMATION_SCHEMA.COLUMNS
    WHERE
        TABLE_SCHEMA = 'manufacturing'
"""

df = pd.read_sql(query, engine)

# Step 2: Convert to list of tuples
tuple_list = list(df.itertuples(index=False, name=None))


def find_value(x):

    for table, column, data_type in tuple_list:
        if data_type.lower() in ('char', 'varchar', 'text', 'tinytext', 'mediumtext', 'longtext'):
            query = f"""
        SELECT '{table}' AS table_name, {column} AS column_name
        FROM {table} where {column} = '{x}' """
            try:
                result = pd.read_sql(query, engine)
                if not result.empty:
                    print(f"📑Table --> {table} and column Name--> {column}")
            except Exception as e:
                print(f"Error in table {table}, column {column}: {e}")

In [22]:
find_value('rajat1@email.com')

📑Table --> customers and column Name--> email